html, body {
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  padding: 0;
}

button {
  background-color: rgb(182, 148, 245);
  color: white;
  padding: 10px 3.5%;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

select {
  padding: 100px;
}

input[type=text], select {
  padding: 10px; 
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: rgb(182, 148, 245);
  color: white;
  padding: 10px 29%;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/************ FLEX STYLES ************/
 
.flex {
  display: flex; 
}

.column {
  flex-direction: column;
}

.center {
  align-items: center; 
  justify-content: center;
}

.end {
  justify-content: end;
}

/************ END FLEX STYLES ************/

#root {
  height: 100vh;
}

.display-none {
  display: none;
}

.app-header {
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-family: 'Tangerine', cursive;
  font-size: 3em;
}

.wrapper {
  height: 100vh;
}

.game-header {
  margin: 5px 5px 10px 5px;
  letter-spacing: 3px;
  font-family: 'Tangerine', cursive;
  font-size: 2em;
}

.top-wrapper {
  margin: 2px;
  justify-content: space-between;
}

.turn {
  color: rgb(157, 107, 250);
  border-bottom: 0.5px dashed rgb(157, 107, 250);
}

.container {
  margin: 0 20% 0 20%;
}

.modal-button {
  background-color: rgb(182, 148, 245);
  color: white;
  padding: 10px 10%;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.endgame-button {
  background-color: rgb(182, 148, 245);
  color: white;
  padding: 10px 30%;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.board-container {
  width: 100%;
}

.board {
  width: 68.5%;
}

.tile {
  border-radius: 4px;
  margin: 5px; 
  padding: 5px; 
  cursor: pointer; 
  display: grid; 
  grid-template-columns: 0.8fr 0.2fr;
  grid-template-rows: 0.2fr 1fr;
}

.bag-tile {
  background-color: lightblue;
  border: none;
  cursor: default;
}

.hand-tile {
  height: 3%;
  width: 4.5%;
}

.select-tile {
  height: 50%; 
  width: 30%; 
}

.blank-tile {
  color: lightblue;
}

.letter {
  margin: 1px;
  text-align: center; 
  font-size: 1em;
  grid-column: 1; 
  grid-row: 2; 
}

.points {
  grid-column: 2;
  grid-row: 1; 
  text-align: center; 
  font-size: 0.5em;
}

.select-tile-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center; 
  grid-gap: 3px;
}

.num-remaining-tiles {
  font-size: 0.8em;
}

.num-remaining-letter {
  font-size: 0.8em;
}

.definition-word {
  margin-bottom: 10px;
}

.definition-phonetic {
  margin-left: 5px;
}

.definition-type {
  font-style: italic;
}

.error {
  height: 12px;
  width: 12px; 
  padding-top: 2px;
  margin-right: 2px;
}

.error-message {
  width: 70%;
  border: none;
  border-radius: 4px;
  background-color: rgb(252, 187, 187);
  margin: 3px;
  font-size: 0.8em;
}

/************ MEDIA QUERIES ************/

@media only screen and (max-width: 1300px) {
  .container {
    margin: 2% 10% 2% 10%;
  }
}

@media only screen and (max-width: 1000px) {
  .board {
    width: 80%;
  }

  .container {
    margin: 2% 5% 2% 5%;
  }
}

@media only screen and (max-width: 900px) {
  .board {
    width: 90%;
  }

  button {
    padding: 8px 3.5%;
    margin: 3px;
  }

  .letter {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 800px) {
  .board {
    width: 95%;
  }

  .container {
    margin: 5% 5% 5% 5%;
  }

  .game-header {
    font-size: 1.7em;
  }

  button {
    font-size: 0.6em;
  }

  .points {
    font-size: 0.3em;
  }

  .hand-tile {
    height: 2.5%;
    width: 5%;
  }
}

@media only screen and (max-width: 700px) {
  .board {
    width: 100%;
  }

  .points {
    font-size: 0.2em;
  }

  .hand-tile {
    height: 2%;
    width: 6%;
  }
}

@media only screen and (max-width: 600px) {
  .game-header {
    font-size: 1.5em;
  }

  .hand-tile {
    width: 8%;
  }
}

@media only screen and (max-width: 500px) {
  .game-header {
    font-size: 1.5em;
  }

  .hand-tile {
    width: 10%;
  }
}