html, body {
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

button {
  background-color: rgb(182, 148, 245);
  color: white;
  padding: 10px 3.5%;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

select {
  padding: 100px;
}

input[type=text], input[type=password], select {
  padding: 10px; 
  margin: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  // border: 1px solid #ccc;
  // border-radius: 4px;
  // box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus, select:focus {
  outline: none;
  // border-bottom: 1px solid #000;
}

.form-input .line {
  height: 1px;
  width: 0px;
  transition: .3s width ease-in-out;
  position: relative;
  top: -6px;
  left: 5px;
}

input[type=text]:focus+.line, input[type=password]:focus+.line, select:focus+.line {
  width: 95%;
  background-color: rgb(182, 148, 245);
}

input[type=submit] {
  background-color: rgb(182, 148, 245);
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/************ FLEX STYLES ************/
 
.flex {
  display: flex; 
}

.column {
  flex-direction: column;
}

.center {
  align-items: center; 
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

/************ END FLEX STYLES ************/

/************ GAME CARD STYLES ************/

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 10px;
}

.notification {
  height: 10vh;
  margin-top: 2vh;
  background-color: white;
}

.current-game {
  height: 15vh;
  padding-left: 10px;
  cursor: pointer;
}

.whose-move {
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: 0.8em;
}

.pending-game {
  height: 12vh;
  padding-left: 10px;
  cursor: pointer;
}

.past-game {
  height: 10vh;
  padding-left: 10px;
  cursor: pointer;
}

.your-move {
  border-left: 6px solid rgb(193, 140, 224);
}

.their-move {
  border-left: 6px solid rgb(58, 194, 248);
}

.pending-game {
  border-left: 6px solid rgb(212, 113, 113);
}

.pending-request {
  border-left: 6px solid rgb(241, 202, 28);
}

.current-card-avatar {
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
}

.card-avatar {
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
}

.play-user-container {
  width: 80%;
  margin-top: 2vh;
}

.play-avatar {
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 50%;
}

.play-user-card {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
}

.card-details {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  height: 100%;
}

.card-3-details {
  display: grid;
  grid-template-columns: 1fr 1.25fr 0.5fr;
  height: 100%;
}

/************ END GAME CARD STYLES ************/

#root {
  height: 100vh;
}

.display-none {
  display: none;
}

.app-header {
  // margin-bottom: 20px;
  background-color: rgb(220,208,255);
  height: 9vh;
  color: white;
}

.not-header {
  background-color: rgb(220,208,255);
  height: 4vh;
  color: white;
}

.greeting {
  letter-spacing: 5px;
  font-family: 'Tangerine', cursive;
}

.app-logo, .app-logo span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.wrapper {
  height: 100vh;
}

.game-header {
  margin: 5px 5px 10px 5px;
  letter-spacing: 3px;
  font-family: 'Tangerine', cursive;
  font-size: 2em;
}

.top-wrapper {
  margin: 2px;
  justify-content: space-between;
}

.turn {
  color: rgb(157, 107, 250);
  border-bottom: 0.5px dashed rgb(157, 107, 250);
}

.container {
  margin: 0 20% 0 20%;
}

.modal-button {
  background-color: rgb(182, 148, 245);
  color: white;
  padding: 10px 10%;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.endgame-button {
  background-color: rgb(182, 148, 245);
  color: white;
  padding: 10px;
  width: 50%;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.endgame-link {
  width: 100%;
  text-decoration: none;
}

.board-container {
  width: 100%;
}

.board {
  width: 68.5%;
}

.tile {
  border-radius: 4px;
  margin: 5px; 
  padding: 5px; 
  cursor: pointer; 
  display: grid; 
  grid-template-columns: 0.8fr 0.2fr;
  grid-template-rows: 0.2fr 1fr;
}

.bag-tile {
  background-color: lightblue;
  border: none;
  cursor: default;
}

.hand-tile {
  height: 3%;
  width: 4.5%;
}

.select-tile {
  height: 50%; 
  width: 30%; 
}

.blank-tile {
  color: lightblue;
}

.letter {
  margin: 1px;
  text-align: center; 
  font-size: 1em;
  grid-column: 1; 
  grid-row: 2; 
}

.points {
  grid-column: 2;
  grid-row: 1; 
  text-align: center; 
  font-size: 0.5em;
}

.select-tile-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center; 
  grid-gap: 3px;
}

.num-remaining-tiles {
  font-size: 0.8em;
}

.num-remaining-letter {
  font-size: 0.8em;
}

.definition-word {
  margin-bottom: 10px;
}

.definition-phonetic {
  margin-left: 5px;
}

.definition-type {
  font-style: italic;
}

.error {
  height: 12px;
  width: 12px; 
  padding-top: 2px;
  margin-right: 2px;
}

.error-message {
  width: 70%;
  border: none;
  border-radius: 4px;
  background-color: rgb(252, 187, 187);
  margin: 3px;
  font-size: 0.8em;
}

.register {
  font-size: 0.7em;
  padding-top: 5px;
}

.register-link {
  position: relative;
  text-decoration: none;
  color: black;
}

.register-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: rgb(182, 148, 245);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.register-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.p-register {
  margin-bottom: 0;
}

.tooltip {
  font-size: 0.85em;
}

.submit-auth {
  width: 100%;
}

.success-message {
  width: 30%;
  border: none;
  border-radius: 4px;
  background-color: rgba(124, 210, 122, 0.7);
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.create-game {
  position: fixed;
  bottom: 5vh;
  right: 0;
  background-color: rgba(182, 148, 245, 0.9);
  color: white;
  width: 8vh;
  height: 8vh;
  margin: 2vh;
  cursor: pointer;
  border-radius: 50%;
  font-size: 4em;
}

.search-user {
  width: 80%;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(182, 148, 245);
  height: 3vh;
  color: white;
  margin-top: 3vh;
  font-size: 0.8em;
}

.body-home {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 15vh;
  margin-top: 5vh;
}

/************ MEDIA QUERIES ************/

@media only screen and (max-width: 1300px) {
  .container {
    margin: 2% 10% 2% 10%;
  }
}

@media only screen and (max-width: 1000px) {
  .board {
    width: 80%;
  }

  .container {
    margin: 2% 5% 2% 5%;
  }

  .select-tile-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .board {
    width: 90%;
  }

  button {
    padding: 8px 3.5%;
    margin: 3px;
  }

  .letter {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 800px) {
  .board {
    width: 95%;
  }

  .container {
    margin: 5% 5% 5% 5%;
  }

  .select-tile-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .game-header {
    font-size: 1.7em;
  }

  button {
    font-size: 0.6em;
  }

  .points {
    font-size: 0.3em;
  }

  .hand-tile {
    height: 2.5%;
    width: 5%;
  }
}

@media only screen and (max-width: 700px) {
  .board {
    width: 100%;
  }

  .points {
    font-size: 0.2em;
  }

  .hand-tile {
    height: 2%;
    width: 6%;
  }
}

@media only screen and (max-width: 600px) {
  .select-tile-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .game-header {
    font-size: 1.5em;
  }

  .hand-tile {
    width: 8%;
  }
}

@media only screen and (max-width: 500px) {
  .select-tile-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .select-tile {
    height: 50%; 
    width: 20%; 
  }
  
  .game-header {
    font-size: 1.5em;
  }

  .hand-tile {
    width: 10%;
  }
}

/************ ANIMATIONS ************/

@import url('https://fonts.googleapis.com/css?family=Tangerine');

.logo-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
	
	svg {
		max-width: 45rem;
    width: 100%;
		height: 80px;
		fill: none;
		stroke: black;
		stroke-width: 2;
		
		tspan > tspan {
			stroke-dasharray: 1500;
			stroke-dashoffset: -1500;
			
			@for $i from 1 through 15 {
				&:nth-of-type(#{$i}) {
					animation: draw 900ms #{$i * 150}ms forwards;
				}	
			}	
		}
	}	
}

@keyframes draw {
	100% {
		stroke-dashoffset: 0;
	}
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
  }
  
	100% {
		opacity: 1;
	}
}

.springy-text {
  animation-name: springy-text;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes springy-text {
  0% {
    letter-spacing: 0.08em;
  }

  100% {
    letter-spacing: 0em;
  }
}

.panel {
  width: 100%;
  height: 75vh;
  background-image: linear-gradient(to bottom right, rgb(162, 221, 255), rgb(182, 148, 245));
}

.slidedown-enter {
  height: 0vh;
}

.slidedown-enter.slidedown-enter-active {
  height: 75vh;
  -webkit-transition: height .3s ease;
}

.slidedown-leave.slidedown-leave-active {
  height: 0vh;
  -webkit-transition: height .3s ease;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
